{% import "SeklMainFoundationBundle::macros.html.twig" as main %}
{% import "SLMNWovieMainBundle::html/macros.html.twig" as wovie %}

{% if activities|length > 0 %}
    {% for activity in activities %}
        {{ wovie.printActivity(activity) }}
    {% endfor %}
    <div class="infinite-more-link">
        <a
                class="hide infinite-more-link"
                href="{{ path('slmn_wovie_actions_ajax_infinite_activity', {'page': page+1}) }}"></a>
    </div>
{% else %}
    <div class="infinite-item">
        <div class="row infinite-item" style="margin-top: 10px;">
            <div class="small-12 columns">
                {{ main.alertBox('No more activities, try to follow some friends.', '', 0) }}
            </div>
        </div>
    </div>
{% endif %}
{# TODO: User profile card on hover #}
{# TODO: Usersearch #}