{% extends "SLMNWovieMainBundle::html/layout_nonav.html.twig" %}

{% block pagetitle %}WOVIE - {{ status_code }} error{% endblock pagetitle %}

{% block body %}
    <div class="row" style="margin-top: 15px;">
        <div class="small-12 large-9 large-centered columns">
            <div class="panel">
                <h1>{{ status_code }}: {{ status_text }}</h1>
            </div>
        </div>
    </div>
    {# TODO: Better page. Support url? (Own 404error page (error404.html.twig)), own 500er (try again late, developer informed) #}
{% endblock body %}
