<ol class="joyride-list" data-joyride>
    <li data-id="media_title" data-text="Add the movie">
        <p>Now please take a short look add every field, and press submit if everything ok.</p>
    </li>
</ol>