<ol class="joyride-list" data-joyride>
    <li data-text="Next">
        <h4>Hello!</h4>
        <p>Take a short tour through WOVIE.</p>
    </li>
    <li data-id="search" data-text="Try it!">
        <h4>Search something</h4>
        <p>Type in your favorite Movie and click the search button.</p>
    </li>
</ol>