<ol class="joyride-list" data-joyride>
    <li data-id="shelf" data-text="Next">
        <h4>Welcome to your library</h4>
        <p>Here you will find every movie or series you added.</p>
    </li>
    <li data-id="watched-it-button" data-text="Next">
        <p>Click the "watched it" button, if you watched an movie.</p>
    </li>
    <li data-id="edit-button" data-text="Next">
        <p>With this button you can edit an entry if something is wrong.</p>
    </li>
    <li data-id="details-button" data-text="End">
        <p>Try this button, to get more and statistics information about this movie.</p>
    </li>
</ol>