/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/logs/rabbitmq/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/web/js/
/web/css/