parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    slmn_main_userbundle.mail.sender.email: wovie@example.org
    slmn_main_userbundle.mail.sender.title: wovie
    slmn_main_userbundle.mail.subject: wovie

    slmn_main_userbundle.piwik.url: ~
    slmn_main_userbundle.piwik.site_id: ~
    slmn_wovie_mainbundle.cache.type: ApcCache
    slmn_wovie_mainbundle.cdn: example.org
    slmn_wovie_mainbundle.domain: example.org
    slmn_wovie_mainbundle.admin_email: email@example.org
    slmn_wovie_mainbundle.google_api_key: yourkey
    slmn_wovie_mainbundle.amazon_affiliate_trackingid.us: example-20
    slmn_wovie_mainbundle.amazon_affiliate_trackingid.de: example-21
    slmn_wovie_mainbundle.stripe.publishable_key: pk_example_key
    slmn_wovie_mainbundle.stripe.secret_key: sk_example_key
    slmn_wovie_mainbundle.stripe.plan_id.standard: standard
    slmn_wovie_mainbundle.billing-email: billing@example.org