{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - dashboard{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-12 columns" style="margin-bottom: 0; margin-top: 10px;">
            {{ main.alertBox('Try the search above to add movies and series.', 'secondary') }}
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {{ main.alertBox('Placeholder…', 'warning', 0) }}
        </div>
    </div>
    {% if getUserOption('didJoyrideDashboard', false) == false %}
        {% include "SLMNWovieMainBundle:html/joyride:dashboard.html.twig" %}
        {% set done = setUserOption('didJoyrideDashboard', true) %}
    {% endif %}
    {#
    {% set moviesCount = random(10..20) %}
    <div class="row">
        <div class="large-12 columns">
            <div class="row collapse">
                <div class="large-12 small-12 columns">
                    <h4>Updated in the last two weeks <small>{{ moviesCount }} added / {{ moviesCount-8 }} watched</small></h4>
                </div>
            </div>
        </div>
    </div>
    #}
{% endblock body %}
