{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - {{ media.title }}{% endblock pagetitle %}

{% block body %}
    <div
            data-media-id="{{ media.id }}"
            data-src="{{ path('slmn_wovie_action_ajax_details_big', {'id': media.id}) }}"
            class="refresh-media">
        {{ wovie.mediaDetails(media, false) }}
    </div>
{% endblock body %}
