{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - search result for "{{ query }}"{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h4>Results for "{{ query }}" in shelf</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {{ main.alertBox('Not implented yet', '', 0) }}
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h4>Results for "{{ query }}" to add <small>data from the <a target="_blank" href="https://www.freebase.com/">freebase API</a></small></h4>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns" id="ajax-externalSearchContainer">
            <i class="fa fa-spinner fa-spin fa-lg"></i><span style="margin-left: 5px;">Loading…</span>
        </div>
    </div>
{% endblock body %}
