{% extends "SeklMainFoundationBundle::email/main.html.twig" %}

{% block mainheader %}
    {{ include('SLMNWovieMainBundle::email/layout_css.html.twig') }}
{% endblock %}

{% block maincontent %}
    <table class="row header">
        <tr>
            <td class="center" align="center">
                <center>
                    <table class="container">
                        <tr>
                            <td class="wrapper last">

                                <table class="twelve columns">
                                    <tr>
                                        <td class="twelve sub-columns">
                                            <a href="{{ url('slmn_wovie_user_dashboard') }}">
                                                <h3 style="color: #fff;">{{ mailHeader }}</h3>
                                            </a>
                                        </td>
                                        <td class="expander"></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
    <table class="container">
        <tr>
            <td>
                {% block content %}{% endblock content %}
                <table class="row footer">
                    <tbody><tr>
                        <td class="wrapper">
                            <table class="six columns">
                                <tbody><tr>
                                    <td class="left-text-pad">
                                        <table class="tiny-button">
                                            <tbody><tr>
                                                <td>
                                                    <a href="https://twitter.com/WovieApp">Wovie on twitter</a>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td class="wrapper last">
                            <table class="six columns">
                                <tbody><tr>
                                    <table class="tiny-button secondary">
                                        <tbody><tr>
                                            <td>
                                                <a href="http://wovieapp.com/imprint/">Contact</a>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
                <table class="row">
                    <tr>
                        <td class="wrapper last">
                            <table class="twelve columns">
                                <tr>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock maincontent %}