{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - settings - account{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-2 columns">
            {% include 'SLMNWovieMainBundle:html/user/settings:menu.html.twig' %}
        </div>
        <div class="large-6 large-pull-4 columns">
            <div class="row">
                <div class="small-12 columns">
                    <h4>Do you really want to delete your account?</h4>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    {{ form_start(cancelAccountForm) }}
                    {{ form_row(cancelAccountForm.cancelAccount, {'attr': {'class': 'expand alert'}}) }}
                    {{ form_end(cancelAccountForm) }}
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="panel small-panel">
                        <p>Your account will be remain active until your subscription end. Then your account will be deleted.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
