{% extends "SLMNWovieMainBundle::html/layout_onlyfooter.html.twig" %}

{% block pagetitle %}WOVIE{% endblock pagetitle %}

{% block body %}
    <div class="hero">
        <div class="row">
            <div class="small-12 large-6 large-push-1 columns">
                <h1>WOVIE</h1>
                <h4>Keep control over your movies collection.</h4>
            </div>
            <div class="small-12 large-4 large-pull-1 columns">
                <div class="row">
                    <div class="small-12 columns">
                        {# TODO: Real form #}
                        <h4>Create an account<br><small>Already have an account? <a href="{{ path('login') }}">Log in.</a></small></h4>
                        <input type="text" placeholder="Username">
                        <input type="text" placeholder="EMail">
                        <input type="password" placeholder="Password">
                        <button class="large expand" style="margin-bottom: 2px;">free 30-day trial</button>
                        <h6 class="subheader">By signing up, I agree to WOVIEs terms and privacy policy.</h6>
                        {# TODO: terms and privacy policy #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h3><b>WOVIE</b> is an webservice for your movie collection. Add movies or series to your libary and never forget what you watched.</h3>
        </div>
    </div>
    {# <div class="row">
        <div class="small-12 large-4 columns">
            <h5><i class="fa fa-calendar"></i> Track what you're watching</h5>
        </div>
    </div> #}
{% endblock body %}
