{% extends "SLMNWovieMainBundle::html/layout_nonav.html.twig" %}

{% block pagetitle %}WOVIE - {# TODO: Username #}{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-12 columns" style="margin-bottom: 0; margin-top: 10px;">
            {{ main.alertBox('Coming soon…', 'warning') }}
        </div>
    </div>
{% endblock body %}
