{% extends "SLMNWovieMainBundle::html/layout_nonav.html.twig" %}

{% block pagetitle %}WOVIE - {# TODO: Username #}{% endblock pagetitle %}

{% block body %}
    <div class="animated fadeInDown">
        <div class="row">
            <div class="large-12 columns" style="margin-bottom: 0; margin-top: 10px;">
                {{ main.alertBox('Coming soon…', 'warning', 0) }}
            </div>
        </div>
    </div>
{% endblock body %}
