{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - admin - broadcasts{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-2 columns">
            {% include 'SLMNWovieMainBundle:html/user/admin:menu.html.twig' %}
            {% include 'SLMNWovieMainBundle:html/user/admin:modals.html.twig' %}
        </div>
        <div class="large-10 columns">
            <div class="row">
                <div class="large-12 columns">
                    <h4>Broadcasts</h4>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h4>{{ main.alertBox('In working', 'warning', 0) }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
