{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - admin - emails{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-2 columns">
            {% include 'SLMNWovieMainBundle:html/user/admin:menu.html.twig' %}
            {% include 'SLMNWovieMainBundle:html/user/admin:modals.html.twig' %}
        </div>
        <div class="large-10 columns">
            <div class="row">
                <div class="large-12 columns">
                    <h4>EMail Templates</h4>
                </div>
            </div>
            <div class="row">
        <div class="large-12 columns">
            <ul class="no-bullet">
                {% for template in templates %}
                    {% if template not in ['.', '..', 'layout.html.twig', 'layout_css.html.twig'] %}
                        {% set previewUrl = path('slmn_wovie_admin_emailpreview', {'template': template|split('.', 3)[0]}) %}
                        {% set previewInlinedUrl = path('slmn_wovie_admin_emailpreview', {'template': template|split('.', 3)[0], 'inlined': 1}) %}
                        <li>
                            <ul class="inline-list">
                                <li>
                                    <a
                                            href="{{ previewUrl }}"
                                            data-reveal-id="modal-template-preview"
                                            data-reveal
                                            onclick="$('#modal-template-preview > iframe').attr('src', $(this).attr('href'));"
                                            >
                                        {{ template }}
                                    </a>
                                </li>
                                <li>
                                    <a
                                            href="{{ previewInlinedUrl }}"
                                            data-reveal-id="modal-template-preview"
                                            data-reveal
                                            onclick="$('#modal-template-preview > iframe').attr('src', $(this).attr('href'));"
                                            >
                                        inlined styles
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        </div>
    </div>
{% endblock body %}
